@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    body {
        background-color: #fefefe;
        font-size: 300%;
    }
}

* {
    /*            font-size: 14px;*/
    text-align: center;
    margin: 0px auto 0px auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header {
    margin-top: 250px;
    width: 500px;
}

#canvas {
    margin: 20px;
}

#uploadicon {
    background-image: url(upload.png);
}

#processicon {
    background-image: url(process.png);
}

#saveicon {
    background-image: url(save.png);
}

.icon {
    width: 128px;
    height: 128px;
    margin: 10px;
    background-size: 128px 128px;
    background-position: center;
    background-repeat: no-repeat;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    /*    margin: 10px;*/
}

input.button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 148px;
    width: 148px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    border: none;
}

.btn {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    background-color: #c9302c;
}

.btn:hover {
    background-color: #a9100c;
}

.btn:active {
    background-color: #99000c;
}

#savediv .btn {
    background-color: #f9e000;
}

#savediv .btn:hover {
    background-color: #f5d500;
}

#savediv .btn:active {
    background-color: #e5c500;
}

a {
    text-decoration: none;
    color: #838383;
}

#ack {
    font-size: 14px;
}
